name: Main

on:
  push:
    branches:
      - main
  schedule:
    - cron: '13 1,7,13,19 * * *'
  workflow_dispatch:

permissions:
  actions: write
  contents: write
  id-token: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
        with:
          version: "latest"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Update ETF data
        run: uv run get-holdings

      - name: Build README.md
        run: |
            cat README.md.in > README.md
            cat ffty.md >> README.md

      - name: Commit and push if it changed
        run: |-
          git config user.name "Major Hayden"
          git config user.email "major@mhtx.net"
          git add ffty.csv ffty.md README.md
          timestamp=$(date -u)
          git commit -m "Updating ETF data: ${timestamp}" || exit 0
          git clean -fxd
          git status
          git pull --rebase
          git push
